{% extends 'base_front.html.twig' %}

{% block container %}
<style>
    h1{
        color:mediumpurple;
    }
</style>
    <center>
        <section id="main-content">
            <h1> Our camps needs </h1>

            <table class="table table-striped table-advance table-hover"  >
                <thead>
                <tr id="besoins">

                    <th>Category</th>
                    <th>Quantity</th>
                    <th>location</th>
                    <th>localisation in the map</th>




                </tr>
                </thead>
                <tbody id="myTable">
                {% for besoin in besoins %}
                    <tr id="besoins">

                        <td>{{ besoin.nomBs }}</td>
                        <td>{{ besoin.quantite }}</td>
                        <td>{{ besoin.id_c.lieu.lieu }}</td>

                        <td>
                            <a href="{{ path('camp_local', { 'id': besoin.id_c.id })  }}"><i class="fa fa-map-marker"></i></a>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>


            <div class="navigation">
                {{ knp_pagination_render(besoins) }}
            </div>

            <form class="navbar-form">
                <th> <input type="text" id="myInput" placeholder="Research  ..."></th>



                </button>

            </form>



            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script>
                $(document).ready(function(){
                    $("#myInput").on("keyup", function() {
                        var value = $(this).val().toLowerCase();
                        $("#myTable tr").filter(function() {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        });
                    });
                });
            </script>

        </section></center>
{% endblock %}
