{% extends 'base_front.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block container %}
    <div class="container">
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_row(form.idref, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.sujet, {'attr': {'placeholder':"Consultation's Topic"}}) }}
    {{ form_row(form.date, {'attr': {'placeholder':''}}) }}
    {{ form_row(form.duree, {'attr': {'placeholder':"Consultation's Duration"}}) }}
    {{ form_row(form.contenu, {'attr': {'placeholder':"Consultation's Contents"}}) }}
    <br>
    <center> <button type="submit" class="btn btn-primary"> Update</button></center><br><br>
    <br>
    <br>
    {{ form_end(form) }}
    </div>

{% endblock %}