<!DOCTYPE html>
<html>
<head>
    <title>Heart2Hold</title>
    <meta charset="utf-8">

    <title>Heart2Hold Love Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('cssfront/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('cssfront/css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('cssfront/css/owl.carousel.min.css') }}">

    <link rel="stylesheet" href="{{ asset('cssfront/fonts/ionicons/css/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('cssfront/fonts/fontawesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('cssfront/fonts/flaticon/font/flaticon.css') }}">
    <link rel="stylesheet" href="{{ asset('cssfront/css/magnific-popup.css') }}">

    <!-- Theme Style -->
    <link rel="stylesheet" href="{{ asset('cssfront/css/style.css') }}">
</head>
<body>

    <header role="banner">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand absolute" href="{{ path ('AcceuilFront') }}">Heart2Hold <span class="fa fa-heart text-primary"></span>  </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path ('AcceuilFront') }}">Home</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="ministry.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Camps & Refugees</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="{{ path('affiche_Refugie') }}">List of Refugees</a>
                                <a class="dropdown-item" href="{{ path('ajout_Refugie') }}">Add Refugee</a>
                                <a class="dropdown-item" href="{{ path('besoins_show1') }}">Needs</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="ministry.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Patients</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="{{ path('affiche_Consultation') }}">List of Consultation</a>
                                <a class="dropdown-item" href="{{ path('ajout_Consultation') }}">Add Consultation</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Messenger</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="{{ url('fos_message_inbox') }}">{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</a>
                                <a class="dropdown-item" href="{{ url('fos_message_sent') }}">{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</a>
                                <a class="dropdown-item" href="{{ url('fos_message_deleted') }}">{% trans from 'FOSMessageBundle' %}deleted{% endtrans %}</a>


                            </div>

                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="ministry.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Activities</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="{{ path('volontaireevents') }}">Events</a>
                                <a class="dropdown-item" href="{{ path('p_index') }}">Project</a>

                            </div>
                        </li>



                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="ministry.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Voluntary Action</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="{{ path('volontaireajoutdon') }}">Donnation</a>
                                <a class="dropdown-item" href="{{ path('sociale_index_front') }}">Social Issues</a>

                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('discutea_forum_homepage') }}">Forum</a>
                        </li>



                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('AboutFront') }}">About</a>
                        </li>

{% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                        {% else %}
                        <a href="{{ path('fos_user_registration_register') }}">Register</a> /  / <a href="{{ path('fos_user_security_login') }}" >Login</a>
{% endif %}

                    </ul>


                </div>
            </div>
        </nav>
    </header>
    <!-- END header -->
    {% block container %}{% endblock %}

    <footer class="site-footer">
        <div class="container">
            <div class="row mb-5">
                <!--   <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <p>Perferendis eum illum voluptatibus dolore tempora consequatur minus asperiores temporibus.</p>
                  </div> -->
                <div class="col-md-6 col-lg-6 mb-5 mb-lg-0">

                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">



                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <h3 class="heading">Contact Information</h3>
                    <div class="block-23">
                        <ul>
                            <li><span class="icon ion-android-pin"></span><span class="text">2333  Esprit  Al-ghazela </span></li>
                            <li><span class="icon ion-ios-telephone"></span><span class="text">+216 58 062 600 </span></li>
                            <li><span class="icon ion-android-mail"></span><span class="text">heart2hold@gmail.com </span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-md-12 text-center copyright">

                    <p class="float-md-left"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" class="text-primary">Heart2Hold</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    <p class="float-md-right">
                        <a href="https://www.facebook.com/Heart2Hold-115654803318209" class="fa fa-facebook p-2"></a>
                        <a href="https://twitter.com/home" class="fa fa-twitter p-2"></a>


                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>
<div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>


    <script src="{{ asset('lib/jquery/jquery.min.js') }}"></script>
    <!--------------->
    <script src="{{ asset('lib/DataTable/jquery.dataTables.min.js') }}"></script>
    <script>$(document).ready( function () {
            $('#myTable').DataTable();
        } );
    </script>











    <script src="{{ asset('cssfront/js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('cssfront/js/jquery-migrate-3.0.0.js') }}"></script>
<script src="{{ asset('cssfront/js/popper.min.js') }}"></script>
<script src="{{ asset('cssfront/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('cssfront/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('cssfront/js/jquery.waypoints.min.js') }}"></script>
<script src="{{ asset('cssfront/js/jquery.stellar.min.js') }}"></script>
<script src="{{ asset('cssfront/js/jquery.animateNumber.min.js') }}"></script>

<script src="{{ asset('cssfront/js/jquery.magnific-popup.min.js') }}"></script>

<script src="{{ asset('cssfront/js/main.js') }}"></script>
{% block footer %}{% endblock %}
</body>
</html>
