{% extends 'base_front.html.twig' %}

{% block container %}
    <style>
        h1{
            color:mediumpurple;
        }
    </style>
    <center>
        <section id="main-content">
            <h1> Project details</h1>

            <table class="table table-striped table-advance table-hover"  >
   <thead>
   <tr>
   <th>Number</th>
   <th>Project's name</th>
   <th>Description</th>
   <th>Location</th>
   <th>Date</th>
   <th>Number of participants</th>
   </tr>
   </thead>
        <tbody>
            <tr>

                <td>{{ projet.id }}</td>


                <td>{{ projet.nomProjet }}</td>


                <td>{{ projet.description }}</td>


                <td>{{ projet.lieu }}</td>

                <td>{% if projet.date %}{{ projet.date|date('Y-m-d') }}{% endif %}</td>


                <td>{{ projet.nombreParticipant }}</td>

            </tr>
        </tbody>
            </table>

            {% if projet.partenaire !=null %}
            <th>Partner's number</th>
            <td>{{ projet.partenaire.id }}</td>
            {% else  %}

            {% endif %}


    <ul>
        <li>
            <a class="btn-primary-white" href="{{ path('p_index') }}">Back to the list</a>
        </li>
        <li>
            <a  class="btn-primary-white" href="{{ path('projet_edit', { 'id': projet.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn-primary" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </center>
{% endblock %}
