{% extends 'base.html.twig' %}

{% block container %}
<div class="container">

    <center>
        <h1>edit the camp</h1>

        <br>


    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <br>
        <input class= "btn btn-round btn-warning" type="submit" value="edit" />
    {{ form_end(edit_form) }}
<br>
        {{ form_start(delete_form) }}
        <button class="btn btn-round btn-danger" type="submit" > <i class="fa fa-trash-o"></i>delete</button>
        {{ form_end(delete_form) }}
            <br>
            <a class="btn btn-round btn-info"  href="{{ path('camp_index') }}"><i class="fa fa-chevron-circle-left"></i> back to the list</a>



    </center>
</div>
{% endblock %}
