{% extends 'base.html.twig' %}

{% block container %}
    <center>
        <section id="main-content">


            <h1>List of camps</h1>

            <table class="table table-striped table-advance table-hover">
                <hr>

                <thead>
                <tr>

                    <th><span class="badge bg-default"> Number</span></th>
                    <th><span class="badge bg-default">Location</span></th>
                    <th><span class="badge bg-default">Capacity</span></th>


                </tr>
                </thead>
                <tbody>
                {% for camp in camps %}
                    <tr>
                        <td><a href="{{ path('camp_show', { 'id': camp.id }) }}">{{ camp.id }}</a></td>
                        <td class="hidden-phone"><span class="label label-success">{{ camp.lieu.lieu}}</td>
                        <td><span class="label label-info label-default">{{ camp.capacite }}</td>
                        <td>
                            <ul>
                                <li>
                                    <i class="fa fa-plus"></i><a href="{{ path('camp_show', { 'id': camp.id }) }}">details</a></li>
                                <li>
                                    <a class="btn btn-theme04" href="{{ path('camp_edit', { 'id': camp.id }) }}"><i  class="fa fa-pencil"></i></a>
                                </li>
                            </ul>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>

        </section></center>

    </section>
    <ul>
        <li>
            <a class="btn btn-primary btn-lg btn-block" href="{{ path('camp_new') }}">Create a new camp</a>
        </li>
    </ul>
    <br>

{% endblock %}
