{% extends 'base.html.twig' %}

{% block container %}
    <center>
    <h1>edit an assignment</h1>
<div class="container">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-round btn-warning" type="submit" value="Edit" />
    {{ form_end(edit_form) }}
</div>

        <br>
        {{ form_start(delete_form) }}
        <button class="btn btn-round btn-danger" type="submit" > <i class="fa fa-trash-o"></i>delete</button>
        {{ form_end(delete_form) }}
        <br>
        <a class="btn btn-round btn-info"  href="{{ path('camp_index') }}"><i class="fa fa-chevron-circle-left"></i> back to the list</a>


    </center>
{% endblock %}
