{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block container %}

    <div class="container">

    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.nom,{'attr':{'placeholder':"Refugee's Name"}}) }}
    {{ form_row(form.prenom,{'attr':{'placeholder':"Refugee's UserName"}}) }}
    {{ form_row(form.age,{'attr':{'placeholder':"Refugee's Age"}}) }}
    {{ form_row(form.origine,{'attr':{'placeholder':"Refugee's Origin"}}) }}
    {{ form_row(form.idcamp, {'attr': {'placeholder':'Refuges camp'}}) }}
    <center> <button type="submit" class="btn btn-primary"> submit</button></center><br><br>
    {{ form_end(form) }}
        </div>

{% endblock %}